/*Titulos */ 
.titulo, .subtitulo2, .subtitulo3 {
    text-align: center;
}

.titulo, .subtitulo2 {
    font-family: $fuentePpal;
    text-transform: uppercase;
    border: none;
}

.titulo {
    font-size: 4rem; 
}

.subtitulo2 {
    font-size: 2.5rem;
    margin: 2rem;
}

.subtitulo3 {
    font-family: $fuenteSec;
    font-size: 2.5rem;
    margin-top: 1rem;
 }

 @media (min-width: 768px) {
    .titulo {
        font-size: 6rem;
    }
    .subtitulo2 {
        font-size: 3rem;
    }
    .par {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .titulo {
       font-size: 8rem;
    }
}

 /*Parrafos---*/

 .par {
    font-family: $fuentePpal;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
 }

 /*Botones*/ 

 .button {
    color: white;
    background-color: $gris;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: $shadow;
    transition: transform 1s;
    font-family: $fuentePpal;
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
 }
 .button:hover {
    background-color: $rosa;
    color:$gris;
    border: none;
    transform: scale(0.95);
}

@media (min-width: 768px) {
    .button {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .button {
        width: 14rem;
    }
}

/* Hero Image */ 

.hero {
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 4rem;
    .hero__content {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        font-family: $fuentePpal;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .titulo {
            text-transform: none;
        }
        .par {
             font-size: 2rem;
        }
    }
}
