/* Hero Image */ 
.hero--download {
    background-image: url("../img/Receta.jpg");
}

.descargas {
    margin: 0 auto;
    .button {
        display: block;
        margin: 2rem auto;
    }
    .contenido__parrafo--list {
        background-color: $gris;
        border-radius: 2rem;
        padding: 2rem;
        .par {
            margin-bottom: 0;
            padding: 0;
            color: $blanco;
        }
    }
}