.menuSecundario {
    margin-top: $margin/2;
    margin-bottom: $margin;
    a {
        text-decoration: none;
        color: $gris;
    }
}

.logo {
    width: $margin*10;
    height: $margin*10;
    padding: 0px;
    margin: $margin;
}

.menuPrincipal {
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    margin: $margin;
    li {
        display: inline-block;
        position: relative;
        a {
            display: inline-block;
            color: $gris;
            text-align: center;
            text-decoration: none;
            padding: 20px;
        }
    }
    /*Hover al pasar el mouse por el menu*/
    li:hover a {
        background-color: $gris;
        color: $blanco;
        text-decoration: none;
    }
}

.dropbtn {
    display: inline-block;
    color: $gris;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

/*Menu desplegable*/
li.dropdown {
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: $gris;
    min-width: 160px;
    box-shadow: $shadow;
    z-index: 1;
    a {
        color: $blanco;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    a:hover {
        background-color: $blanco;
        color: $gris;
    }

}

.dropdown:hover .dropdownContent {
    display: block;
  }
