/* reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

/* Variables */
@import "variables";

/* Componentes---------------------*/ 
@import "componentes";

/*HEADER-----------------------------*/
@import "header";

  /* FOOTER -------------------------------*/ 
@import "footer";



/* Mapa de Sitio --------------------------*/ 
@import "sitemap";

/*Index-----------------------------------------*/ 
@import "index";

/*Nosotros----------------------------------*/ 
@import "nosotros";

/*Productos------------------------------------------*/ 
@import "productos";

/*Descargas - Receta -----------------------------------------*/
@import "descargas";

/*Contacto-------------------------------------------------*/ 
@import "contacto";
 

 

//  .contacto {
//     margin: 2*$margin;
//     .subtitulo2 {
//         text-align: left;
//         grid-area: subtitulo;
//         margin-bottom: $margin;
//     }
//     .mediosContacto {
//         display: grid;
//         grid-template-columns: 600px, 600px;
//         grid-template-areas:
//             "subtitulo form"  
//             "email form"
//             "whats form"
//             "horario form"
//             "descuento form";
//     }
//     .email {
//         grid-area: email;
//         font-size: 18px;
//     }
//     .whats {
//         grid-area: whats;
//         font-size: 18px;
//     }
//     .horario {
//         grid-area: horario;
//         font-size: 18px;
//     }
//     .form {
//         grid-area: form;
//         margin: 0;
//         background-color: $gris;
//         width: 600px;
//         height: 650px;
//         padding: $margin;
//         border-radius: $margin;
//         color: $blanco;
//             .motivo {
//                 width: max-content;
//             }
//             .button {
//                 margin-left: 45%; 
//                 background-color: rgb(105, 104, 104);
//                 width: 100px;
//                 padding: 0.5*$margin;
//             }
//             .button:hover {
//                 transform: none;
//                 background-color: rgb(241, 135, 135);
//             }
//         } 
//     }

//     .descuento {
//         grid-area: descuento;
//         margin: $margin $margin $margin 0;
//         .subtitulo2 {
//             margin-bottom: $margin;
//         }
//         p {
//             text-align: left;
//             margin-bottom: 0;
//         }
//         li {
//             font-size: 18px;
//         }
//     }

//     .newsletter {
//         margin: 2*$margin 0 2*$margin 0;
//         width: 100%;
//         height: 200px;
//         background-color: rgb(241, 135, 135);
//         border-radius: $margin;
//         animation-name: suscription;
//         animation-duration: 5s;
//         div {
//             padding: $margin;
//             font-size: 30px;
//             font-weight: bold;
//             text-align: center;
//         }
//         .button {
//             padding: 0.5*$margin;
//             margin: $margin;
//             text-align: center;
//             margin-left: 45%;
//             font-size: 20px;
//             font-weight: bold;
//         }
//         .button:hover {
//             background-color:  rgb(105, 104, 104);
//             color: $blanco;
//         }
//     }

//     @keyframes suscription {
//         from {background-color: $gris;}
//         to {background-color: rgb(241, 135, 135);}
//       }
    

     