/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
@import "variables";

/*HEADER-----------------------------*/
@import "header";

  /* FOOTER -------------------------------*/ 
@import "footer";

/* Componentes - Titulos, subtitulos, botones---------------------*/ 
@import "componentes";

/*HOME-----------------------------------------*/ 

/* Hero Image */ 
.hero {
    margin: 0 0 $margin 0;
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../img/ppal.jpg");
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .hero-text {
            text-align: center;
            font-family: $fuentePpal;
            padding-top: 150px;
            left: 50%;
            color: white;
            h1 {
                font-size: 80px;
            }
            p {
                font-size: 30px;
            }
      }
    }
}

  /*Main*/

  .categorias {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      margin-bottom: 2*$margin;
      .button {
        width: 300px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: x-large;
        font-weight: bold;
      }
  }
  

/* ARTICLE- Testimonios*/

.articulo-testimonios {
    margin: $margin 0 $margin 0;
    .subtitulo2 {
        text-align: left;
        padding-left: $margin;
    }
    .bloque-testimonios {
        background-color: $gris;
        border-radius: $margin;
        .testimonios img {
            width: 150px;
            height: 150px;
            margin: $margin;
        }
        .card-testimonios {
            background-color: $gris;
            height: 300px;
        }
        p {
            margin-bottom: 0;
        }
    }
}

/*ARTICLE- Novedades*/ 

.novedades {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 2*$margin;
    .card-novedades {
        border: solid 2px $gris;
        border-radius: 20px;
        width: 400px;
        height: 200px;
    }
    .button {
        width: 100%;
        margin-top: 0.5*$margin;
        padding: 0.5*$margin;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        text-align: center;
    }
    button:hover {
        transform: scale(0.95);
    }
}

/* ------------------------Fin del HOME---------------*/

/* PRODUCTOS--------------------------------*/

/*Galeria de productos*/

.acordeonItem {
    padding: $margin;
    transition: transform 1s;
    font-family: $fuentePpal;
    text-transform: uppercase;
 }
 .acordeonItem:hover {
    background-color: rgb(247, 173, 173);
    color:$gris;
    border: none;
}

.galeria {
    margin-bottom: $margin;
    .galeriaNav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .ordenar {
            margin-bottom: $margin;
        }
        .paginacion {
            .numeracion {
                color: rgba(0, 0, 0, 1);
            }
        }
    }
    
    .galeriaEfecto {
        transition-duration: 0.3s;
        transition-property: box-shadow, transform; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);

        .galeriaFondo {
            background-color: rgb(231, 227, 227);
            opacity: 100%;
        }

        .galeriaCard {
            transform: none;
        }
        
        .galeriaTitulo {
            font-family: $fuentePpal;
            font-size: 16px;
            text-transform: uppercase;
        }
        
        .galeriaPrecio {
            font-family: $fuenteSec;
            font-weight: bold;
        }
        
        .button {
            border-radius: 5px;
            padding: 0;
            .linkButton {
                width: 100%;
                font-family: $fuentePpal;
                font-size: 14px;
                color: $blanco;
            }
        }
    }
}

.galeriaEfecto:hover div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:scale(1.05)
}
 /*-----------------Fin de Productos---------------*/

 /*DESCARGAS--------------------------*/ 

 .suscripcion {
    margin: $margin;
    .form {
        background-color: rgba(37,37,37,0.3);
        .form-field {
            margin: $margin;
            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            .label {
                font-family: $fuentePpal;
                font-size: 18px;
                padding-right: $margin;
                padding-bottom: $margin/2;
            }
            .input {
                border: 1px solid $gris;
                border-radius: 5px;
                padding-left: $margin;
                text-transform: capitalize;
                width: 100%;
            }
            .form-field-btn {
                justify-self: center; /* ¿PORQUE NO ME TOMA EL JUSTIFY-SELF PARA CENTRAR EL BOTON? */ 
                width: max-content;
                background-color: $gris;
                color: $blanco;
                font-family: $fuentePpal;
                border-radius: 5px;
                text-transform: uppercase;
            }
        }
        
    }
}

 /*--------------------Fin de descargas--------------------*/ 


 /*NOSOTROS-------------------*/ 

 .nosotros {
     display: grid;
     grid-template-columns: 1fr 2fr;
     grid-template-areas: 
        "titulo titulo titulo"
        "img parrafo parrafo";
        margin-bottom: $margin;
     .titulo {
         grid-area: titulo;
     }
     .nosotros-img {
         grid-area: img;
     }
     .nosotros-parrafo {
         grid-area: parrafo;
     }
 }

 /*-----------Fin de Nosotros----------*/ 


 /* CONTACTO---------*/ 

 .contacto {
    margin: $margin;
    .parrafo {
        text-align: center;
    }
    .form {
        background-color: rgba(37,37,37,0.3);
        width: 800px;
        padding: $margin;
        margin-left: 15%;
        border-radius: 10px;
        .form-field {
            margin: $margin;
            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            .motivo {
                width: max-content;
            }
            .label {
                font-family: $fuentePpal;
                font-size: 18px;
                padding-right: $margin;
                padding-bottom: $margin/2;
            }
            .input {
                border: 1px solid $gris;
                border-radius: 5px;
                padding-left: $margin;
                text-transform: capitalize;
                width: 100%;
            }
            .form-field-btn {
                margin-left: 300px; 
                width: max-content;
                background-color: $gris;
                color: $blanco;
                font-family: $fuentePpal;
                border-radius: 5px;
                text-transform: uppercase;
            }
        }
        
    }
}