/* reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

/* Variables */
@import "variables";

/* Componentes---------------------*/ 
@import "componentes";

/*HEADER-----------------------------*/
@import "header";

  /* FOOTER -------------------------------*/ 
@import "footer";



/* Mapa de Sitio --------------------------*/ 
@import "sitemap";

/*Index-----------------------------------------*/ 
@import "index";

/*Nosotros----------------------------------*/ 
@import "nosotros";

/*Productos------------------------------------------*/ 
@import "productos";

/*Descargas - Receta -----------------------------------------*/
@import "descargas";

/*Contacto-------------------------------------------------*/ 
@import "contacto";
 

 


     